.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.container p {
  color: var(--black);
}

.wrapper {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
}

.social {
  width: 60%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 2px solid var(--grey);
  padding: 15px 18px;
  display: flex;
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.social:hover {
  background-color: var(--theme);
  transition: 0.2s ease-in;
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  font-size: 2rem !important;
}

.iconBox:hover {
  color: var(--theme);
  transition: 0.3 ease;
}

.iconBox p:hover {
  color: var(--theme);
  transition: 0.3 ease;
}

@media (max-width: 1000px) {
  .social {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .social {
    width: 100%;
  }
}
