.container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.button {
  width: 50px;
  height: 50px;
  padding: 2rem;
  border: 2px solid var(--theme);
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: var(--black);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
  background-color: var(--theme);
  border: 2px solid var(--theme);
}

.icon {
  font-size: 2rem;
}

.icon:hover {
  font-size: 2rem;
  color: var(--white);
  transition: 0.2s;
}

@media (max-width: 1250px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
    margin-top: -2rem;
  }
  .button {
    padding: 2rem !important;
    margin-top: 4.5rem;
  }
  .icon {
    font-size: 1.5rem !important;
  }
}
