.container {
  bottom: 0;
  background-color: var(--theme);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--white);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.info h1 {
  padding-bottom: 0.5rem;
}

.socialsBox {
  margin-top: 1.8rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--white);
  font-size: 2.5rem;
  margin-right: 0.5rem;
}

.icon:hover {
  color: rgb(63, 111, 214);
  cursor: pointer;
  transition: 0.2s;
}

.pConnect {
  margin: 0;
  font-size: 1.5rem;
}

@media (max-width: 1050px) {
  .info {
    padding-right: 0 !important;
  }
}

@media (max-width: 750px) {
  .container {
    align-items: center;
  }

  .info {
    flex-direction: column;
  }

  .container h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .socialsBox {
    margin: 1rem !important;
  }

  .pConnect {
    font-size: 1.3rem !important;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .byLine {
    font-size: 0.85rem !important;
  }
  .icon {
    font-size: 2.2rem;
  }
}

@media (max-width: 450px) {
  .byLine {
    font-size: 0.75rem !important;
  }
}
